/*
Colors used:
Primary Color (Red): #f54e60;
Secondary Color (Pink): #ffb8b8;
Backgtound (light Pink): #fff6f8;
*/
body {
  background-color: #fff6f8 font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-transform: uppercase;
  color: #f54e60;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
  color: #f54e60;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 300;
}

img {
  width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a:visited {
  /* visited link */
  color: #808080;
}

a:active {
  /* selected link */
  color: #f54e60;
}

.button {
  display: inline-block;
  background-color: #f54e60;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #f54e60;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid ##f54e60;
}

.button.contact:hover {
  background-color: #ffb8b8;
  color: #000000;
}
